<header class="bg-gray-900 text-white py-2">
    <nav>
        <div class="flex items-center space-x-4">
            <div>
                🌿
            </div>
            <ul class="flex justify-center space-x-4">
                <li><a routerLink="/plantations" class="hover:underline hover:text-gray-300">Plantations</a></li>
                <li><button (click)="onLogout()"
                        class="cursor-pointer hover:underline hover:text-gray-300">Logout</button></li>
            </ul>
        </div>
    </nav>
</header>