<app-header></app-header>
<div class="container mx-auto p-6">
    @if (errorGettingPlatation()) {
      <app-error-field>No se han podido recuperar los sensores, intente de nuevo mas tarde</app-error-field>
    }

    @if (isLoading()) {
      <h3>Cargando...</h3>
    } @else if (plantation()) {
      <h1 class="text-3xl font-bold text-gray-900 text-center mb-6">
        Sensores de la Plantación: {{ plantation().name }}
      </h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Recorremos los sensores -->
      @for (sensor of plantation().sensors; track sensor.id) {
        <app-sensor-card [plantation_id]="plantation().id" [sensor]="sensor"></app-sensor-card>
      }
      </div>
      <!-- Verificar si hay sensores disponibles -->
      @if (!plantation().sensors.length) {
        <div class="text-gray-600 text-center text-lg">
            No hay sensores disponibles en esta plantación.
        </div>
      }
    }
</div>
<app-footer></app-footer>
