<div class="flex flex-col mb-6">
    <label [for]="id" class="font-semibold text-gray-600">{{ placeholder }}</label>
    <div class="relative">
        @if (iconComponent) {
        <div class="absolute left-3 top-1/2 transform -translate-y-1/2">
            <ng-container *ngIf="iconComponent === 'user'">
                <app-user-svg class="h-5 w-5 text-gray-400"></app-user-svg>
            </ng-container>
            <ng-container *ngIf="iconComponent === 'email'">
                <app-email-svg class="h-5 w-5 text-gray-400"></app-email-svg>
            </ng-container>
            <ng-container *ngIf="iconComponent === 'lock'">
                <app-lock-svg class="h-5 w-5 text-gray-400"></app-lock-svg>
            </ng-container>
        </div>
        }
        <input [id]="id" [type]="type" [formControl]="control"
            class="border border-gray-300 rounded-md px-4 py-2 w-full pl-12" [placeholder]="placeholder" />
    </div>
    <small *ngIf="control.invalid && control.touched" class="text-red-500">
        {{ getErrorMessage() }}
    </small>
</div>